.foldersWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: flex-start;
  column-gap: 10px;
  width: 100%;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 5px 7px;
  img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  p {
    font-weight: bold;
    margin: 0;
    font-size: calc(9px + 2vmin);
    &:hover {
      transition: 0.2s;
      color: grey;
    }
  }
}

@media (min-width: 1200px) {
  .foldersWrapper {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
  }
  .folder {
    padding: 10px 12px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
