.filtersWrapper {
    align-self: flex-start;
    p {
        font-size: calc(9px + 2vmin);
        text-align: start;
        font-weight: bold;
        margin: 0 0 10px;
    }
}
.items {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.filter {
    display: flex;
    justify-content: center;
    width: 90px;
    padding: 10px 5px;
    text-align: center;
    background-color: antiquewhite;
    outline: 1px solid grey;
    margin-right: 10px;
    cursor: pointer;
    p {
        margin: 0;
        font-size: calc(5px + 2vmin);
    }
    
}

.active {
    outline: 3px solid black;
}

