.folderWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button {
    padding: 10px 10px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
      margin: 0;
    }
  }
}

.files {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  column-gap: 10px;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  img {
    width: 60px;
    height: 80px;
    margin-bottom: 10px;
  }
  p {
    overflow-wrap: break-word;
    margin: 0;
    color: black;
    font-size: calc(9px + 2vmin);
  }
}

@media (max-width: 375px) {
  .file {
    img {
      width: 50px;
      height: 70px;
    }
  }
}

@media (min-width: 1200px) {
  .files {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  .file {
    img {
      width: 100px;
      height: 120px;
    }
  }
}
