.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
  background-color: antiquewhite;
  p {
    font-size: calc(12px + 2vmin);
    font-weight: bold;
    color: black;
    margin: 0;
  }
}
